.card {
  width: 350px;
  height: 290px;
  padding: 30px;
  background-color: #ebebeb;
  border-radius: 10px;

  h1 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 25px;
  }

  p {
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    padding-bottom: 30px;
  }

  button {
    width: 124px;
    height: 33px;
    font-size: 18px;
    font-weight: 800;
    background-color: #f9a826;
    color: white;
    border: none;
    border-radius: 5px;
  }
  button:hover {
    cursor: pointer;
  }
}
